@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

body{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Droid Serif', serif;
	font-weight: 400;
}

p{
	margin:0;
	padding:0;
	font-size: 14px;
	line-height: 23px;
}


/*정렬*/
div.range{
	margin:0 auto;
	width: 700px;
	
}

.align-center{
	text-align:center;
	margin-left: 80px;
	margin-right: 80px;
	background-color: white;
	font-weight: bold;
}
.align-right{
	text-align:right;
	margin-right:100px;
	
}
.align-left{
	text-align:left;
}
form{
	border:0px;
	text-align: center;
}

th{
	
	text-align: center;
}

td{
	
	background-color: white;
	text-align: center;
	
}



table{
	
	background-color: #F9B1BC;
	font:bold;
	font:italic;
	text-align:center;
	margin-right: 100px;
}

button{
	background-color:#66BAA2;
	color:white;
}

/*중앙 하단*/
.align-center-bottom{
	margin-top:200px;
	text-align:center;
	height:100px;
}

/*==========================검색창=======================*/








	
	
	
	
	
	
	
	
	
	